.isError {
  text-align: center;
  font-size: 1.7em;
  color: #8b0000;
  height: 40px;
  width: 40px;
  padding: 0px;
  outline: none;
  border: none;
  opacity: 0.9;
}

.defaultValue {
  text-align: center;
  font-size: 1.7em;
  color: black;
  height: 40px;
  width: 40px;
  padding: 0px;
  outline: none;
  border: none;
  opacity: 0.9;
}

.userEnteredVal {
  text-align: center;
  color: #467db8;
  font-size: 1.7em;
  height: 40px;
  width: 40px;
  padding: 0px;
  outline: none;
  border: none;
  opacity: 0.9;
}

.penFalse {
  text-align: center;
  color: #cc5500;
  font-size: .5em;
  height: 40px;
  width: 40px;
  padding: 0px;
  outline: none;
  border: none;
  opacity: 0.9;
}

table {
  border-collapse: collapse;
  overflow: hidden;
  outline: 1px solid black;
  border-collapse: collapse;
  overflow: hidden;
  z-index: 1;
}

td, .row, .col {
  padding: 0;
  border: 0.03em solid #C0C0C0;
  position: relative;
}

td:hover::before,
.row:hover::before {
  background-color: #9ab7d6;
  content: '\00a0';  
  height: 100%;
  left: -5000px;
  position: absolute;  
  top: 0;
  width: 10000px;
  z-index: -1;        
}

td:hover::after,
.col:hover::after { 
  background-color: #9ab7d6;
  content: '\00a0';  
  height: 10000px;    
  left: 0;
  position: absolute;  
  top: -5000px;
  width: 100%;
  z-index: -1;        
}

tr:nth-child(3n+3).border_bottom td {
  border-bottom: 1pt solid black;
}

td:nth-child(3n) {
  border-right: 1pt solid black;
}

.userEnteredVal:hover {
  opacity: 1;  
  background: #d2dfec;
}

.selectedNumber {
  opacity: 1;  
  background: #d2dfec;
}

