/* HEADER PROPERTIES */
.headerLogo {
  margin-left: 2vh;
  width: 6vh;
  height: 6vh;
}

.headerContainer > .headerItem {
  display: flex;
  margin-left: 2vh;
  font-size: 3vh;
  height: 8vh;
  justify-content: center;
  align-items: center
}

.headerContainer {
  display: flex;
  flex-wrap: wrap;
  height: 8vh;
  background: #F9F9F9;
  border-bottom: 1px solid #C0C0C0;
}


/* BODY PROPERTIES */
.bodyContainer > .boardItem {
  display: flex;
  width: 50%;
  height: 77vh;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.bodyContainer > .learnItem {
  display: flex;
  margin-right: 10vh;
  width: 25%;
  height: 65vh;
}

.bodyContainer {
  display: flex;
  align-items: center;
  height: 87vh;
}

.function {
  display: flex;
  flex-wrap: wrap;
}

.buttonFunction {
  background-color: #F9F9F9;
  color: black;
  border: 1px solid #C0C0C0;
  padding: 1vh;
  margin: 2vh;
}

.buttonFunction.active {
  background-color: orange;
  color: black;
  border: 1px solid #C0C0C0;
  padding: 1vh;
  margin: 2vh;
}

/* FOOTER PROPERTIES */
.footerContainer > .footerItem {
  background: #F9F9F9;
  width: 30.33%;
  font-size: 2vh;
}

.footerContainer {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  align-items: center;
  justify-content: center;
  height: 5vh;
  background: #F9F9F9;
  border-top: 1px solid #C0C0C0;
}

a:link, a:visited {
  color: black;
  text-decoration: none;
}

a:active, a:hover {
  color: #00008B;
  text-decoration: none;
}
